# Configuración del Servidor
PORT=3000
NODE_ENV=development

# Configuración de Base de Datos (PostgreSQL)
DB_NAME=nombre_de_tu_db
DB_USER=postgres
DB_PASS=tu_password_aqui
DB_HOST=127.0.0.1
DB_PORT=5432

# Seguridad y Autenticación
JWT_SECRET=una_clave_secreta_y_larga_para_tus_tokens

# Configuración de Archivos (Opcional)
UPLOAD_LIMIT=2mb